.Footer {

}

.links {
  display: grid;
  grid-template-columns: repeat(5, 20%);
  grid-gap: 1em;
  padding-bottom: 40px;
}

.postContent {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 50px 0;

  svg {
    fill: var(--black-color);
  }
}

.footerLogo {
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.copyright {
  margin: 0 1em;
}

.footerLinks {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 65%;
}