.Button {
  line-height: 17px;
  padding: 12px 22px;
  border-radius: 7px;
  border: none;
  cursor: pointer;
  outline: none;
  transition: all 0.3s;

  display: flex;
  justify-content: center;
  column-gap: 8px;
  align-items: center;

  &:hover {
    opacity: 0.8;
  }
}

.primary {
  color: var(--white-color);
  background-color: var(--primary-color)
}

.info {
  color: var(--black-color);
  background-color: var(--inverted-white-color);
}

.clear {
  background: none;
  padding: 0;
  line-height: 0;
}