.Avatar {
  height: 60px;
  width: 60px;
  overflow: hidden;
  background-size: cover;
  line-height: 0;
  font-size: 0;
}

.circle {
  border-radius: 50%;
}
.square {
  border-radius: var(--border-radius);
}