.SearchPage {
  padding: 50px 0;
  display: flex;
  justify-content: space-between;
}

.content {
  width: 870px;
}

.clearBox {
  height: 281px;
  width: 275px;
  background: #F5F8FD;
  border-radius: 7px;
}