.TileLink {
  position: relative;
  border-radius: 7px;
  background-color: var(--tile-link-bg);
  display: inline-block;
}

.tileLinkTitle {
  position: absolute;
  bottom: 0;
  padding: 25px;
  display: flex;
  align-self: flex-end;
  text-decoration: none;
  color: var(--white-color);
  font-size: 20px;
  width: 60%;
}