.Header {
  background-color: var(--secondary-color);
  min-height: fit-content;
}

.Wrapper {
  width: var(--app-width);
  height: 100%;
  display: flex;
  align-items: center;
  margin: 0 auto;
  padding: 15px;
}

.logo {
  display: flex;
  justify-content: space-between;
  width: 125px;
  margin: 0 15px;
}

.Input {
  width: 480px;
  margin: 0 30px;
}

.Button {
  margin: 0 5px;
}