$indent: 20px;

.CommercialTransport {
  margin: 50px 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  row-gap: $indent;
}

.CommercialTransportList {
  display: grid;
  grid-template-columns: repeat(2, 1fr) 482px;
  grid-gap: $indent;
}

.firstColumn {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: $indent;
}

.secondColumn {
  grid-column: 3 / 3;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  row-gap: $indent;
}

.transportListItem {
  align-self: stretch;
  height: 237px;
  width: 330px;
}

.truckItem {
  height: 100%;
  width: 100%;
}

.button {
  height: 58px;
  width: 100%;
}